projectile-bookmarks.eld

.gitignore
#ian.el#
.cache/
auto-save-list/
elpa/
ian.elc
ian.el~
init.org~
transient/
url/
init.el
.lsp-session-v1
anaconda-mode
ian.el
bookmarks
.emacs-custom.el
local-variables/
bin
forge-database.sqlite
.#recentf
recentf
local/*.el
.org-id-locations
emojis/
