projectile-bookmarks.eld
projectile.cache
.gitignore
#ian.el#
.cache/
auto-save-list/
elpa/
ian.elc
ian.el~
init.org~
transient/
url/
init.el
.lsp-session-v1
anaconda-mode
ian.el
bookmarks
local-variables/
bin
forge-database.sqlite
.#recentf
recentf
recentf~
local/*.el
.org-id-locations
emojis/
get-nick.bash
eshell/*
\#recentf\#
.mc-lists.el
ian.bash
ian.org~
ian.sh
tramp
session*
.dap-breakpoints
.extension/
.#.*
undo/
/eln-cache/
/server/
/multisession/
/*.sqlite
/fastgpt/
.emacs-custom.el
/projects
*~
custom.el
/flycheck_init.el
/history
